.icon-style {
    @apply h-6 w-6 rounded-full border border-black mb-1;
  }

.title-style{
    @apply text-[15px] font-bold bg-white shadow-2xl shadow-black text-black border border-black px-2 rounded-2xl mb-2 py-3;
}

.style-services {
  @apply hover:text-blue-600 cursor-not-allowed transform hover:scale-105 transition duration-200 p-2 rounded-full shadow-2xl shadow-black;
}

.services-img{
  @apply lg:w-52 lg:h-52  object-cover border border-black rounded-full transform transition duration-500 hover:rotate-[-360deg] cursor-grab shadow-2xl shadow-black ;

}
.footer-style{
  @apply bg-white rounded-2xl border text-xs p-1 px-3 border-black
}
.footer-style{
  @apply text-[15px] font-medium hover:bg-black hover:text-yellow-300 duration-500 transition-colors
}

.mob-nav{
  background-color: rgba(145, 145, 145, 0.3);
  backdrop-filter: blur(3px);
}
.nav-shadow{
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.788);
}
